@model WebApplication1.ViewModels.UtilisateurViewModel
@{
    Layout = "~/Views/Shared/_LayoutPF.cshtml";
    ViewBag.title = "DevisEnCours";
}


<head>
    <link rel="stylesheet" href="~/css/connecte.css">
</head>

<div class="container-fluid titre">
    <h1></h1>
</div>

<div class="container">
    <h2 class="titreEntete infosVide">Mes événements à venir</h2>

    <div class="row rowCards infosVide">
        @foreach (var item in Model.dvm.MainDevis)
        {
            if (item.EventDevis.AvancementEvent == WebApplication1.Models.AvancementEvenement.AVenir)
            {
                <div class="col-md-3 col-sm-6">

                    <div class="card cardConnecte">
                        @if (item.EventDevis.TypeEvent == WebApplication1.Models.TypeEvenement.Seminaire)
                        {
                            <img src="~/images/Evenements/Seminaire2.jpeg"
                                 class="card-img-top"
                                 alt="..." />
                        }
                        else if (item.EventDevis.TypeEvent == WebApplication1.Models.TypeEvenement.TeamBuilding)
                        {
                            <img src="~/images/Evenements/TeamBuilding.jpeg"
                                 class="card-img-top"
                                 alt="..." />
                        }
                        else if (item.EventDevis.TypeEvent == WebApplication1.Models.TypeEvenement.RoadShow)
                        {
                            <img src="~/images/Evenements/Seminaire.jpeg"
                                 class="card-img-top"
                                 alt="..." />
                        }
                        else if (item.EventDevis.TypeEvent == WebApplication1.Models.TypeEvenement.FamilyDay)
                        {
                            <img src="~/images/Evenements/family-day.jpg"
                                 class="card-img-top"
                                 alt="..." />
                        }
                        else if (item.EventDevis.TypeEvent == WebApplication1.Models.TypeEvenement.LancementProduit)
                        {
                            <img src="~/images/Evenements/new_product.jpg"
                                 class="card-img-top"
                                 alt="..." />
                        }
                        <div class="filtreVert">
                            <div>@Html.ActionLink("Détails", "RecapitulatifEvent", "Devis", new { id = item.Id }, new { @class = " btnReveal card-link", @style = "text-align:center; top: 25%" })</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@item.EventDevis.TypeEvent</h5>
                            <div class="card-text">
                                <div><strong>Date :</strong> @item.EventDevis.DateEvent.ToShortDateString()</div>
                                <div><strong>Nom de l'évenement :</strong> @item.EventDevis.ThemeEvent </div>
                                @*<div><strong>Type d'événement :</strong> @item.EventDevis.TypeEvent </div>*@
                                <div><strong>Etat de l'événement :</strong> @item.EventDevis.AvancementEvent </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        
        
        else {
        <h3 class="infosVideText">Vous n'avez pas d'événement prévu. </h3>
        }

        }

    </div>
</div>
